<nav>
    <a class="logo" href="/">
        <img src="/public/img/logo/solo_ab_logo.png" alt="logo Nav Trace">
    </a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <a class="login" href="/admin">Admin</a>
</nav>
<div class="burger visible">
    <span></span>
    <span></span>
    <span></span>
</div>
<aside>
    <a class="logo" href="/">
        <img src="/public/img/logo/solo_ab_logo.png" alt="logo Nav Trace">
    </a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a class="login" href="/admin">Admin</a></li>
    </ul>
</aside>
<script src="/public/js/navSticky.js"></script>
<script src="/public/js/navBurger.js"></script>