<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Abdel-samade</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="icon" href="../public/img/AB.png">
</head>
<body style="background-image: url(../public/img/404.png); background-size: 50%; background-repeat: no-repeat; background-position: 10% 25%;">
    <nav>
        <a href="/"><img src="../public/img/AB.png" alt="Logo Abdel-samade"></a>
        <section>
            <a href="/">About me</a>
            <a href="/">Skills</a>
            <a href="/">Portfolio</a>
            <a href="/">Media</a>
            <div id="reseau" style="color: white;">
                <span style="font-size: 40px; position: relative; bottom: 4px;">|</span>
                <a target="_blank" href="https://www.linkedin.com/in/abdel-samade-bouderga-b814a2248/"><i class="fa-brands fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/apsamade"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.instagram.com/apsamade78/"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </section>
    </nav>
    <h1 style="text-align: center; color: white; margin-top: 300px;">Page Introuvé 😕...</h1>
    <img style="margin: auto; display: block; width: 800px;" src="../public/img/error.gif" alt="">
    <h2 style="text-align: center; color: white;">Cette page nez xiste pas 😂</h2>
    <script src="https://kit.fontawesome.com/3247d6a24f.js" crossorigin="anonymous"></script>

</body>
</html>