<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Bouderga | Compte</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/compte.css">
    <link rel="shortcut icon" href="/public/img/logo/solo_ab_logo.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('partials/navAdmin') %>
        <% }else{ %>
            <%- include('partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('partials/nav') %>
    <% } %>
        <header>
            <h1>Mon Compte</h1>
            <%= user.email %>
            
        </header>
        <form method="POST">
            <input type="submit" value="Deconnexion">
        </form>    
</body>
</html>