<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Bouderga | Contact</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="shortcut icon" href="/public/img/logo/solo_ab_logo.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('partials/navAdmin') %>
        <% }else{ %>
            <%- include('partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('partials/nav') %>
    <% } %>
    <main>
        <header>
            <h1>Contactez nous</h1>
            <form method="POST">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="text" name="object" id="object" placeholder="Object du message" required>
                <textarea placeholder="Ecrivez votre message ..." name="message" id="message" style="resize: vertical;"></textarea>
                <input type="submit" value="Envoyer">
                <% if(typeof error != 'undefined'){ %>
                    <div class="error">
                        <%= error %>
                    </div>
                <% } %>
            </form>
        </header>
        <section class="bckg">

        </section>        
    </main>

</body>
</html>