form input, form button{
    font-family: 'roboto', sans-serif;
    border-radius: 10px;
}
form input, form textarea{
    transition: 0.5s;
    outline: 2px solid #ffffff00;
    outline-offset: 4px;
}
form input:focus, form textarea:focus{
    transition: 0.5s;
    outline: 2px solid #e5f5ff;
    outline-offset: 4px;
}
form input:not(input[type=submit]){
    padding: 10px;
    width: 500px;
    border: none;
    background-color: rgb(216, 222, 233);
    font-size: 18px;
    margin: 20px 0;
    font-family: 'roboto', 'sans-serif';
}
form input::placeholder, form textarea::placeholder{
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Oswald';
}
form input[type=submit]{
    background-color: #ff4400;
    border-radius: 15px;
    padding: 12px 50px;
    cursor: pointer;
    border: none;
    outline: 3px solid #ffffff00;
    outline-offset: 2px;
    margin: 20px 0;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
    transition: 0.5s;

}
form input[type=submit]:hover{
    outline: 3px solid #ffffff;
    background-color: white;
    color: black;
    outline-offset: 6px;

    transition: 0.3s;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    margin: 50px auto 0;
    padding-bottom: 50px;
}
form a:not(#logo){
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald';
    margin-bottom: 20px;
}
form .RL{
    position: absolute;
    top: 15px;
    left: 15px;

    width: 200px;

    opacity: 0;
    animation: apparition 1s 0s ease forwards;
}
textarea{
    padding: 10px;
    width: 500px;
    height: 120px;
    border: none;
    background-color: rgb(216, 222, 233);
    font-size: 18px;
    margin: 20px 0;
    font-family: 'roboto', 'sans-serif';
    border-radius: 10px;
    resize: none;
}

/* ///////////////////////////////////////////// Responsive ///////////////////////////////////////////// */

@media screen and (max-width: 1100px){

    form input:not(input[type=submit]){
        width: 90%;
        margin: 20px 0;
    }

    form input[type=submit]{
        padding: 8px 40px;
    }
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 75%;
        border-radius: 10px;
        margin: 50px auto 0;
        padding-bottom: 50px;
    }
    form a:not(#logo){
        text-decoration: none;
        color: rgb(75, 75, 75);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Oswald';
        margin-bottom: 20px;
    }
    form .RL{
        position: absolute;
        top: 15px;
        left: 15px;
    
        width: 200px;
    
        opacity: 0;
        animation: apparition 1s 0s ease forwards;
    }
    textarea{
        padding: 10px;
        width: 90%;
        height: 120px;
        border: none;
        background-color: rgb(216, 222, 233);
        font-size: 18px;
        margin: 20px 0;
        font-family: 'roboto', 'sans-serif';
        border-radius: 10px;
        resize: none;
    }
}