/* ///////////////////////////////////////////// Nav ///////////////////////////////////////////// */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(29, 29, 29);
    z-index: 1000;

    animation: fadeIn 0.5s 0s ease forwards;
}
.remonte{
    animation: disparition 0.5s 0s ease forwards;
}
.nav.sticky-hidden {
    opacity: 0;
    visibility: hidden;
  }
/* /////////////////////////////////////////////////////// */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 0;
    z-index: 1000;
}
nav img{
    width: 100px;
}
nav a:nth-child(1){
    margin-left: 30px;
    margin-top: 8px;
}
nav section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}
nav section a{
    text-decoration: none;
    margin: 8px 20px;
    padding: 12px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.5s;
    border-bottom: 1px solid #ff440000;
}
nav section a:hover{
    transition: 0.3s;
    color: #ff4400;
    border-bottom: 1px solid #ff4400;

}
nav section div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
}
nav section div a{
    margin: 8px 8px;
    padding: 8px;
}
/* ///////////////////////////////////////////// aside ///////////////////////////////////////////// */
.burger{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    top: 7px;
    right: 7px;
}
.burger:hover{
    transition: 0.3s;
}


.burger span{
    display: block;
    width: 80%;
    margin: 5px;
    height: 5px;
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}
aside{
    display: none;
}

    /* ///////////////////////////////////////////// responsive 1100 ///////////////////////////////////////////// */

@media screen and (max-width: 1100px) {

    nav{
        display: none;
    
    }
    .burger{
        display: flex;
        z-index: 150;
    }
    .croix span:nth-child(1){
        transform: rotateZ(45deg);
        position: absolute;
        top: 23px;
        transition: 0.3s;
    }
    .croix span:nth-child(2){
        position: absolute;
        bottom: 24px;
        transition: 0.3s;
        transform: rotateZ(-45deg);


    }
    .croix span:nth-child(3){
        transform: rotateZ(-45deg);
        position: absolute;
        bottom: 24px;
        transition: 0.3s;

    }
    aside{
    background-color: #151515;
    position: fixed;
    right: -301px;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 15;
    transition: 0.5s;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    }
        
    aside img{
        width: 100px;
    }
    aside a:nth-child(1){
        margin-left: 8px;
        margin-top: 8px;
    }
    aside section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    aside section a{
        text-decoration: none;
        margin: 8px 20px;
        padding: 12px;
        color: white;
        font-size: 22px;
        text-transform: uppercase;
        transition: 0.5s;
        border-bottom: 1px solid #ff440000;
    }
    aside section a:hover{
        transition: 0.3s;
        color: #ff4400;
        border-bottom: 1px solid #ff4400;
    
    }
    aside section div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    aside section div a{
        margin: 8px 8px;
        padding: 8px;
    }
}
    /* ///////////////////////////////////////////// responsive 1300 ///////////////////////////////////////////// */

@media screen and (max-width: 1100px) {

    nav img{
        width: 70px;
    }
    nav section a{
        margin: 6px 16px;
        padding: 8px;
        font-size: 21px;
    }
}
@keyframes disparition {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
